<div class="container-my-5 " style="padding-top: 2%; padding-right: 3%; padding-left: 3%;">
  <h1 class="mb-3"> Employee List</h1>

  <br>
<table class="table" *ngIf="employees">
    <thead >
      <tr>
        <!-- <th >SN</th> -->
        <th >Id</th>
        <th >Name</th>
        <th >Gender</th>
        <th >Email</th>
        <th >Department</th>
        <th >Phone</th>
        <th >Salary</th>
        <th > </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of employees">
        <!-- <th scope="row">1</th> -->
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.email}}</td>
        <td>{{i.department}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.salary}}</td>
        <td><a [routerLink]="['/edit' , i.id]">View</a> </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!employees">No Employee Details Were Found</p>
</div>